<div class="container">
  <div class="greeting row">
    <div class="text-center col-md-8 col-md-offset-2">

      <img id="push-pin" src="push_pin.jpg">

      <h1 class="text-center">Welcome to Corkboard</h1>

      <br>

      <div class="text-center">
        <a class="btn btn-default btn-lg" href="#" role="button">Log In With GitHub</a>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-md-3 col-md-offset-2">
      <h4 class="text-center">Manage your project.</h4>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ullamcorper, felis vitae viverra faucibus, risus tellus hendrerit nibh, ac vestibulum lacus arcu quis mi. Proin eget libero ut felis volutpat aliquam. Cras pellentesque tristique turpis non vehicula. Praesent in nisl non est dignissim ornare</p>
    </div>

    <div class="col-md-3 col-md-offset-2">
      <h4 class="text-center">Organize your team.</h4>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ullamcorper, felis vitae viverra faucibus, risus tellus hendrerit nibh, ac vestibulum lacus arcu quis mi. Proin eget libero ut felis volutpat aliquam. Cras pellentesque tristique turpis non vehicula. Praesent in nisl non est dignissim ornare</p>
    </div>
  </div>
</div>
