<div class="container">
  <div class="greeting row">
    <div class="text-center col-md-8 col-md-offset-2">

      <img id="push-pin" src="<%= image_path('push_pin.jpg') %>">
      <h1 class="text-center">Welcome to Corkboard</h1>

      <br>

      <div class="text-center">
        <% if current_user %>
          <%= link_to "My Projects", projects_path, class: "welcome-btn btn btn-default btn-lg" %>
        <% else %>
          <%= link_to "Sign In With GitHub", login_path, class: "welcome-btn btn btn-default btn-lg" %>
        <% end %>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-md-3 col-md-offset-2">
      <h4 class="text-center">Manage your project.</h4>
      <p class="text-center">Break your problems into small, iterable chunks, and track your progress across three categories.</p>
    </div>

    <div class="col-md-3 col-md-offset-2">
      <h4 class="text-center">Organize your team.</h4>
      <p class="text-center">At a glance: know what needs to be worked on, what's in the works, and what's been finished.</p>
    </div>
  </div>
</div>
