<div class="row">
  <div class="container">
    <div class="col-md-4 col-md-offset-2">
      <h1>My Projects</h1>
    </div>
  </div>
</div>

<br>
<div id="projects">
  <div class="spinner text-center">
    <br>
    <i class="fa fa-refresh fa-spin"></i>
  </div>
</div>
