<div class="row">
  <div class="container">
    <div class="col-md-5 col-md-offset-1 jumbotron">
      <%= image_tag current_user.image, class: "avatar img-rounded" %>
      <h2>Welcome, Pat Wey</h2>
      <p>Choose a project and start organizing!</p>
    </div>

    <div id="projects" class="col-md-5">
      <div class="spinner text-center">
        <br>
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
  </div>
</div>
