<div class="container">
  <!-- project title -->
  <!-- <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1 class="text-center">apicurious</h1>
    </div>
  </div> -->

  <!-- column names -->
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center">Backlog</h3>
    </div>

    <div class="col-md-4">
      <h3 class="text-center">In Progress</h3>
    </div>

    <div class="col-md-4">
      <h3 class="text-center">Complete</h3>
    </div>
  </div>

  <!-- cards -->
  <div class="row">
    <!-- Backlog cards -->
    <div class="col-md-4">
      <div class="panel panel-warning">

        <div class="panel-heading">
          Make it better
        </div>

        <div class="panel-body">
          <span>
            As a User,
            When I lorem,
            And I ipsum,
            Then I lorem.
          </span>
        </div>

        <div class="text-right">
          <a class="arrow btn btn-default btn-sm" href="#"><span class="glyphicon glyphicon-menu-right"</span></a>
        </div>
      </div>

      <div class="panel panel-warning">
        <div class="panel-heading">
          Make it better
        </div>

        <div class="panel-body">
          <span>
            As a User,
            When I lorem,
            And I ipsum,
            Then I lorem.
          </span>
        </div>

        <div class="text-right">
          <a class="arrow btn btn-default btn-sm" href="#"><span class="glyphicon glyphicon-menu-right"</span></a>
        </div>
      </div>

      <div class="panel panel-warning">
        <div class="panel-heading">
          Make it better
        </div>

        <div class="panel-body">
          <span>
            As a User,
            When I lorem,
            And I ipsum,
            Then I lorem.
          </span>
        </div>

        <div class="text-right">
          <a class="arrow btn btn-default btn-sm" href="#"><span class="glyphicon glyphicon-menu-right"</span></a>
        </div>
      </div>
    </div>

    <!-- In Progress cards -->
    <div class="col-md-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          Make it better
        </div>

        <div class="panel-body">
          <span>
            As a User,
            When I lorem,
            And I ipsum,
            Then I lorem.
          </span>
        </div>

        <div class="text-right">
          <a class="arrow btn btn-default btn-sm" href="#"><span class="glyphicon glyphicon-menu-left"</span></a>
          <a class="arrow btn btn-default btn-sm" href="#"><span class="glyphicon glyphicon-menu-right"</span></a>
        </div>
      </div>

      <div class="panel panel-warning">
        <div class="panel-heading">
          Make it better
        </div>

        <div class="panel-body">
          <span>
            As a User,
            When I lorem,
            And I ipsum,
            Then I lorem.
          </span>
        </div>

          <div class="text-right">
            <a class="arrow btn btn-default btn-sm" href="#"><span class="glyphicon glyphicon-menu-left"</span></a>
            <a class="arrow btn btn-default btn-sm" href="#"><span class="glyphicon glyphicon-menu-right"</span></a>
          </div>
        </div>
    </div>

    <!-- Complete cards -->
    <div class="col-md-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          Make it better
        </div>

        <div class="panel-body">
          <span>
            As a User,
            When I lorem,
            And I ipsum,
            Then I lorem.
          </span>
        </div>

        <div class="text-right">
          <a class="arrow btn btn-default btn-sm" href="#"><span class="glyphicon glyphicon-menu-left"</span></a>
        </div>
      </div>

      <div class="panel panel-warning">
        <div class="panel-heading">
          Make it better
        </div>

        <div class="panel-body">
          <span>
            As a User,
            When I lorem,
            And I ipsum,
            Then I lorem.
          </span>
        </div>

        <div class="text-right">
          <a class="arrow btn btn-default btn-sm" href="#"><span class="glyphicon glyphicon-menu-left"</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
