<div class="container">

  <!-- project title -->
  <div class="row">
    <div class="col-md-6">
      <h1 id="repo-name"><%= "#{current_user.username}/#{@repo_name}" %></h1>
    </div>

    <!-- add issue button -->
    <div class="add-issue text-right col-md-6">
      <a class="btn btn-default add-issue-btn" data-toggle="modal"
         data-target="#new-issue" role="button">
         <span class="glyphicon glyphicon-plus"></span> Add Issue</a>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="new-issue" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close"
                  data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">
            Add an Issue
          </h4>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="title">Title</label>
              <input class="form-control" id="title"/>
            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" id="description" rows="4"></textarea>
            </div>

            <div class="text-right">
              <button type="button" class="btn btn-default"
                      data-dismiss="modal">
                Close
              </button>
              <button type="submit" class="btn btn-default submit">Submit</button>
            </div>
          </form>
        </div>

        </div>
      </div>
  </div>







  <!-- column names -->
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center">Backlog</h3>
    </div>

    <div class="col-md-4">
      <h3 class="text-center">In Progress</h3>
    </div>

    <div class="col-md-4">
      <h3 class="text-center">Complete</h3>
    </div>
  </div>

  <!-- cards -->
  <div class="row">
    <div id="backlog" class="col-md-4">
    </div>

    <div id="in-progress" class="col-md-4">
    </div>

    <div id="complete" class="col-md-4">
    </div>
  </div>
</div>
