@import "jquery-ui";
@import "bootstrap-sprockets";
@import "bootstrap";

@import "welcome.scss";
@import "projects.scss";
@import "issues.scss";

body {
  padding-top: 70px;
  display: block;
  overflow: auto;
}

.panel-heading {
  background-color: #ffe066 !important;
}
