.add-issue {
  padding-top: 26px !important;
}

.arrow {
  border: 0px solid transparent;
}

.modal-header {
  background-color: #ffe066 !important;
}

#submit-issue {
  background-color: #ffe066 !important;
  color: black !important;
}

.issues {
  height: 100vh;
}
