.add-issue {
  padding-top: 26px !important;
}

.add-issue-btn {
  border: 1px solid #222222 !important;
}

.modal-header {
  background-color: #ffe066 !important;
}

#submit-issue {
  background-color: #ffe066 !important;
  color: black !important;
}

.spinner {
  font-size: 24px;
  color: #888888 !important;
}

#backlog {
  border-right: 1px solid #e6e6e6;
}

#complete {
  border-left: 1px solid #e6e6e6;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

#issue-label {
  width: 25%;
}
