.board-panel {
  text-decoration: none !important;
}

.panel-body {
  color: black !important;
}

.add-issue {
  padding-top: 26px !important;
}

.arrow {
  border: 0px solid transparent;
}

.modal-header {
  background-color: #ffe066 !important;
}

.submit {
  background-color: #ffe066 !important;
  color: black !important;
}
