<div class="not-found row">
  <div class="container">
    <div class="col-md-12 text-center">
      <span class="thumbs-down glyphicon glyphicon-thumbs-down"></span>
      <h1>The page you were looking for doesn't exist!</h1>
      <br>
      <%= link_to "Go Home", root_path, class: "welcome-btn btn btn-default btn-lg" %>
    </div>
  </div>
</div>
