<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Corkboard</a>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Log In</a></li>
    </ul>
  </div>
</nav>
