<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Corkboard</a>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <% if current_user %>
          <%= link_to "#{current_user.name}", projects_path %>
        <% else %>
          <%= link_to "Sign In", login_path %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
